
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Magic Square Game</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/magic-square.js" defer></script>
</head>
<body>
<img src="/static/images/Gear.png" alt="Gear" class="gear-icon">
<div class="background"></div>
<div class="splash-container">
    <div class="retro-logo">Magic Square</div>
    <a href="/enterName" class="play-button" onclick="playClickingSound()"><span>PLAY</span></a>
    <a href="/leaderboard" class="play-button" onclick="playClickingSound()"><span>LEADERBOARD</span></a>
</div>

<audio id="backgroundMusic" loop autoplay>
    <source src="/audio/Overlay.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<audio id="clickingSound" src="/audio/clicksound.mp3" preload="auto"></audio>
<audio id="typingSound" src="/audio/keyboardsound.mp3" preload="auto"></audio>


<script>
    function playClickingSound() {
        document.getElementById('clickingSound').play();
    }
</script>

</body>
</html>